version: "3.8"

services:
  mongo:
    image: mongo
    container_name: mongo_db
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  migration: 
    build: .
    container_name: first_mongo_migration
    depends_on:
      - mongo
    volumes:
      - .:/app
    environment:
      - MONGO_URI=mongodb://mongo:27017
    command: ["python", "migrate_to_mongo.py"]  # use exact filename

volumes:
  mongo_data:

